body {
	background: #eee;
	background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.message__wrapper {
	margin: 50px auto 20px;
}

.app__wrapper {
	width: 80%;
	margin: 0 auto;
	max-width: 500px;
	background: rgba(255, 255, 255, .6);
	padding: 20px;
	border-radius: 5px;
}

.note {
	display: block;
	margin: 5px auto 0;
	min-width: 250px;
	min-height: 150px;
	border: 2px solid transparent;
	border-radius: 5px;
	font-size: 14px;
	resize: none;
}

.note:focus {
	outline: 0;
	border: 2px solid #d61987;
	border-radius: 5px;
}

.button {
	outline: 0;
	border: 0;
	border-radius: 5px;
	margin: 10px 0 0;
	padding: 10px;
	background: #d61987;
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	font-size: 15px;
}

.button:hover {
	opacity: 0.9;
}